@page "/people/edit/{id:int}"
@inject HttpClient httpClient
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h3>Edit Person</h3>

<PersonForm person="@person" ButtonText="Update Person" onValidSubmit="@updatePerson"></PersonForm>

@code {
    [Parameter]
    public int id { get; set; }

    Person person = new Person();

    protected async override Task OnParametersSetAsync()
    {
        person = await httpClient.GetJsonAsync<Person>($"/api/Person/{id}");
    }

    public async Task updatePerson()
    {
        await httpClient.PutJsonAsync("/api/Person", person);
        navigationManager.NavigateTo("people");
    }

}
