<br />
<EditForm Model="@person" OnValidSubmit="@onValidSubmit">

    <DataAnnotationsValidator />

    <div class="form-field">
        <InputText id="name" @bind-Value="person.Name" class="form-control" />
        <ValidationMessage For="@(() => person.Name)"></ValidationMessage>
    </div>


    <br />
    <button type="submit" class="btn btn-primary"> @ButtonText </button>

</EditForm>

@code{
    [Parameter]
    public Person person { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "Save Person";

    [Parameter]
    public EventCallback onValidSubmit { get; set; }

}